<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>Ohh me vengoo</h1>
        <p>
            {{ capitalizar 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, numquam. Eveniet, optio libero! Pariatur cupiditate iste reiciendis veniam veritatis deleniti, non vel illum aliquam tenetur aperiam quibusdam tempore numquam saepe.'}}
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/formulario.png" alt="" class="img-thumbnail" class="img-thumbnail">
    </div>

</div>

{{> footer}}

</body>
</html>